/* Font-family: 'Roboto', 'Raleway', sans-serif. */
:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text colors */
  --main-text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --border-color: #ececec;
  --icon-color: #AFB1B8;
  /* Background colors */
  --first-bg-color: #f5f4fa;
  --second-bg-color: #2f303a;
  --hero-bg-color: #C4C4C4;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  /* Animation */
  --main-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--white);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  section {
    padding: 94px 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  background-color: var(--white);
  border-bottom: 1px solid var(--border-color);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.nav__logo {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
}
@media screen and (max-width: 767px) {
  .nav__logo {
    display: block;
    margin: 16px 0;
  }
}

.nav__logo-text {
  color: var(--accent-color);
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

.nav-list .nav-list__item {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list .nav-list .nav-list__item:last-child {
  margin-right: 0;
}

.nav .nav-list__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__link {
  text-decoration: none;
  color: var(--title-color);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.nav-list__link[title] {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link--current {
  position: relative;
}
.nav-list__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -32px;
  background: currentColor;
  position: absolute;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

.header-list .header-list__item {
  margin-right: 50px;
}
.header-list .header-list .header-list__item:last-child {
  margin-right: 0;
}

.header-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.header-list__link:hover, .header-list__link:focus {
  color: var(--accent-color);
}

.header-list__icon {
  margin-right: 10px;
  fill: currentColor;
}

.open-menu-btn {
  position: absolute;
  top: 22px;
  right: 23px;
  background-color: var(--white);
  border: none;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.open-menu-btn__icon {
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
  background-color: var(--white);
  border: none;
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 48px 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.mob-menu > .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mob-menu.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-menu-btn {
  position: absolute;
  top: 0;
  right: 0;
  fill: var(--title-color);
  background-color: var(--white);
  border: none;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.close-menu-btn:hover, .close-menu-btn:focus {
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
  fill: var(--accent-color);
}

.mob-menu-list {
  list-style: none;
}

.mob-menu_list__item {
  margin-bottom: 32px;
}
.mob-menu_list__item__item:last-child {
  margin-bottom: 0;
}

.mob-menu_list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.mob-menu_list__link[title] {
  color: var(--accent-color);
}
.mob-menu_list__link:hover, .mob-menu_list__link:focus {
  color: var(--accent-color);
}

.mob-menu-contacts {
  list-style: none;
  margin-bottom: 64px;
}

.mob-menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-soc__link {
  text-decoration: none;
  margin-right: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mob-menu-soc__link:last-child {
  margin: 0;
}
.mob-menu-soc__link:not(:last-child)::after {
  content: "";
  padding-left: 10px;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  width: 100%;
  height: auto;
  text-align: center;
  background-image: var(--bg-gradient), url(../images/hero-bg-mob.jpg);
  background-color: var(--hero-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    max-width: 1600px;
    background-image: var(--bg-gradient), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-2x.jpg);
  }
}

.hero__title {
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  width: 300px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (max-width: 767px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  padding: 10px 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}
.hero__btn:hover, .hero__btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.advantages-list__item {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 767px) {
  .advantages-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.advantages-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--first-bg-color);
}

.advantages-list__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .advantages-list__title {
    text-align: left;
  }
}

.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.activity {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.activity__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity-list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}
.activity-list__item:last-child {
  margin-right: 0;
}

.activity-list__wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity-list__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  padding: 27px 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

.team {
  background-color: var(--first-bg-color);
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.team-list__item {
  width: 100%;
  background-color: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team-list__item {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list__form {
  padding: 30px 0;
}
@media screen and (max-width: 767px) {
  .team-list__form {
    padding: 30px 122px 24px 122px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__form {
    padding: 30px 74px 24px 74px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__form {
    padding: 30px 32px 30px 32px;
  }
}

.team-list__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list__text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 10px;
}

.icon-list__item {
  width: 44px;
  height: 44px;
}

.icon-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--icon-color);
  border-radius: 50%;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.icon-list__link:hover, .icon-list__link:focus {
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.icon-list__icon {
  display: block;
  fill: currentColor;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.icon-list__link:hover .icon-list__icon, .icon-list__link:focus .icon-list__icon {
  fill: var(--white);
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 30px;
}

.clients-list__item {
  width: 210px;
  height: 92px;
}
@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--icon-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-bg-color);
}
.footer__container {
  display: block;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-thumb {
    margin: 0 93px 0 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer-contacts {
  display: block;
  margin: 0 0 60px 0;
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin: 0 165px 0 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    width: 231px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 70px 0 0;
  }
}

.footer-contacts__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .footer-contacts__logo {
    text-align: left;
  }
}

.footer-contacts__text {
  text-align: center;
  color: var(--accent-color);
}

.footer-address__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 8px;
}
.footer-address__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .footer-address__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer-address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.footer-address__link:hover, .footer-address__link:focus {
  color: var(--accent-color);
}
.footer-address__link.address {
  color: var(--white);
}

.footer-icons {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-icons {
    margin-bottom: 0;
  }
}

.footer-icons__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .footer-icons__title {
    text-align: start;
  }
}

.footer-icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 10px;
  margin-top: 20px;
}

.footer-icons__item {
  width: 44px;
  height: 44px;
}

.footer-icons__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.footer-icons__link:hover, .footer-icons__link:focus {
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--white);
}

.footer-icons__icon {
  display: block;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .footer-subscription {
    margin-right: auto;
  }
}

.footer-subscription__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}
@media screen and (min-width: 1200px) {
  .footer-subscription__title {
    text-align: left;
  }
}

.footer-subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-subscription__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscription__form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-subscription__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-subscription__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--second-bg-color);
}
.footer-subscription__input:focus {
  outline-color: 1px solid rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 767px) {
  .footer-subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-subscription__input {
    width: 358px;
    margin: 0;
  }
}

.footer-subscription__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 28px;
  max-height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .footer-subscription__btn {
    margin-left: 12px;
  }
}

.footer-subscription__icon {
  margin-left: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  fill: var(--white);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  width: 320px;
  height: auto;
  background: var(--white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-close-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  color: var(--white);
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close {
  fill: var(--black);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.modal-close:hover {
  fill: var(--accent-color);
}

.form-title {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .form-title {
    line-height: 1.15;
  }
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  padding: 12px 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.form-input:focus {
  outline-color: var(--accent-color);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-textarea {
  padding: 12px 16px;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.form-textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
@media screen and (min-width: 1200px) {
  .form-textarea::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-textarea::-moz-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-textarea:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-textarea::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .form-textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}
.form-textarea:focus {
  outline-color: var(--accent-color);
}

.textarea-wrap {
  margin-bottom: 20px;
}

.check-icon {
  fill: transparent;
}
.modal-checkbox:checked + .check-text .check-icon {
  fill: var(--white);
}

.check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}

.check-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (max-width: 767px) {
  .check-text {
    font-size: 12px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .check-text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-text span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 7px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.check-link {
  position: relative;
  margin-left: 4px;
  text-decoration: none;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .check-link {
    font-size: 12px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .check-link {
    font-size: 14px;
    line-height: 1.71;
  }
}
.check-link::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  bottom: 5px;
  background: currentColor;
}

.form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

/* Filter buttons */
.filter-btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter-btn-list {
    margin-bottom: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter-btn-list {
    margin-bottom: 50px;
  }
}

.filter-btn-list__item {
  margin: 0 8px 15px 0;
}
.filter-btn-list__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
.filter-btn-list__item:last-child {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .filter-btn-list__item {
    margin: 0 8px 0 0;
  }
  .filter-btn-list__item:last-child {
    margin-right: 0;
  }
}

.filter-btn-list__btn {
  padding: 6px 22px 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.44;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--first-bg-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.filter-btn-list__btn:hover, .filter-btn-list__btn:focus {
  color: var(--white);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Filter items */
.filter-item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.filter-item-list__item {
  width: 100%;
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.filter-item-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (max-width: 767px) {
  .filter-item-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .filter-item-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .filter-item-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.filter-item-list__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.filter-item-list__wrapper:hover .filter-item-list__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.filter-item-list__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  height: auto;
}

.filter-item-list__overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: var(--main-animation);
  transition: var(--main-animation);
}
.filter-item-list__overlay > p {
  max-width: 322px;
  max-height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
}

.filter-item-list__poster-text {
  height: 146px;
  padding: 20px 24px 20px 24px;
  border: 1px solid #EEEEEE;
}

.filter-item-list__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.filter-item-list__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}/*# sourceMappingURL=main.css.map */