.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &.is-hidden {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
        }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    max-height: 581px;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    color: var(--white);
    background: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}
.modal-close {
    fill: var(--black);
    transition: var(--main-animation);
    &:hover {
            fill: var(--accent-color);
        }
}
.form-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--title-color);
}
.input-wrap {
    position: relative;
    margin-bottom: 10px;
}
.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-text-color);
}
.form-input {
    padding: 12px 42px;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    transition: var(--main-animation);
    &:focus {
            outline-color: var(--accent-color);
        }
}
.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translatey(-50%);
    transition: var(--main-animation);
    .form-input:focus+& {
            fill: var(--accent-color);
        }
}
.form-textarea {
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: var(--main-animation);
    &::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
                &:focus {
                    outline-color: var(--accent-color);
                }
}
.textarea-wrap {
    margin-bottom: 20px;
}
.check-icon {
    fill: transparent;
    .modal-checkbox:checked+.check-text & {
            fill: var(--white);
        }
}
.check-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.check-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    span {
            display: flex;
            align-items: center;
            width: 16px;
            height: 15px;
            border: 2px solid var(--title-color);
            border-radius: 2px;
            margin-right: 7px;
            transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                .modal-checkbox:checked+& span {
                    background-color: var(--accent-color);
                    border: none;
                }
}
.check-link {
    position: relative;
    margin-left: 4px;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            bottom: 5px;
            background: currentColor;
        }
}
.form-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}